# Ignore files and directories from the anaconda environment.
bin/
compiler_compat/
conda-meta/
include/
lib/
man/
share/
ssl/
x86_64-conda-linux-gnu/
x86_64-conda_cos6-linux-gnu/
__pycache__

# Ignore .env file (containing the bot token)
.env

# Ignore the content of logs directory 
logs/*
!logs/.placeholder

# Ignore .json file as they're used to store data
*.json